<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
	<meta charset="UTF-8">
	<title>Document</title>
    <link rel="Shortcut Icon" href="{% static 'SportXPark/images/favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'SportXPark/css/style.css' %}">
	<!-- <link rel="stylesheet" href="css/index2.css"> -->
	<link rel="stylesheet" href="{% static 'SportXPark/css/index.css' %}" media="(max-width:1400px)">
	<link rel="stylesheet" href="{% static 'SportXPark/css/index2.css' %}"  media="(min-width:1400px)">
	<script src="{% static 'SportXPark/js/jquery-1.12.4.js' %}"></script>
</head>
<body>
	<div class="index-box">

		<!-- 头部选项卡 -->
		<div class="head-box">
			<ul class="head-ul">				
				<li class="on">
					<p class="head-bg1"><img src="{% static 'SportXPark/images/sportx.jpg' %}"></p>
					<p class="head-text text-light">SportX是一款以健身房为地理基础的健身社交APP<br>下载
                        <a href="http://app.mi.com/detail/420798" style="color: #00FF00" target="_blank">点我</a>
                    </p>
				</li>
				<li>
					<p class="head-bg2"><img src="{% static 'SportXPark/images/gym.jpg' %}"></p>
					<p class="head-text text-light">马上开通接入健身房功能</p>
				</li>
				<li>
					<p class="head-bg3"><img src="{% static 'SportXPark/images/us.png' %}"></p>
					<p class="head-text text-light">
                        <span>一只干瘦的码农</span><br>
                        <span>一个浑身是腹肌的天然呆</span><br>
                        <span>一只萌萌的胖子</span><br>
                        <span>邮箱：xiang160501@163.com</span>
                    </p>
				</li>
			</ul>

			<ol class="head-ol">
				<li class="text-light">SportX</li>
				<li class="text-light">健身会所服务</li>
				<li class="text-light">关于我们</li>
			</ol>
            
            <img style="position: absolute;top:10%;left: 5%;" src="{% static 'SportXPark/images/icon90.png' %}">

		</div>

        <h3 style="margin-top: 10px; text-align: center">Trends</h3>

		<!-- 简介 -->
        {% for trend in trends %}
		<div class="brief-box">

			<div class="brief-div">
				
				<div class="brief-t">
					<img src="{{ trend.user.userAvatar}}" alt="" class="avatar">
				</div>

				<div class="brief-text">

					<p class="brief-t1" style="color: #0f81aa;">{{ trend.user.userName }}</p>
					<p class="brief-t2" style="font-size: 18px">{{ trend.user.sign }}</p>
					<p class="brief-t3">{{ trend.content }}</p>
					
				</div>

				<div class="brief-img">
					{% for image in trend.images %}
					<img src="{{ image }}" alt="" class="brief-a">
                    {% endfor %}
				</div>

                <div style="margin-top: 20px">
                    <img src="{% static 'SportXPark/images/like.png' %}" alt="like" style="width: 20px; height: 20px; margin-left: 120px">
                    <span style="margin-left: 5px">{{ trend.likeCount }}</span>
                    <img src="{% static 'SportXPark/images/comment.png' %}" alt="comment" style="width: 20px; height: 20px; margin-left: 5px">
                    <span style="margin-left: 5px">{{ trend.commentCount }}</span>
                    <span style="margin-left: 10px; margin-top: 20px">{{ trend.createTime }}</span>
                </div>

                <p style="margin-left: 120px; margin-top: 20px">评论</p>

                {% for comment in trend.comments %}
                    <div style="margin-left: 120px; margin-top: 5px">
                        <span style="color: #0f81aa">{{ comment.userName }}</span>
                        <span> ： </span>
                        <span>{{ comment.content }}</span>
                    </div>
                {% endfor %}
                <div style="margin-left: 120px; margin-top: 5px">...</div>

			</div>
			
		</div>
        {% endfor %}



		<!-- 尾部 -->

		<div class="foot-box">
			
			<div class="foot-div">

				<div class="foot-l">
					<a href="#"><p>推广合作</p></a>
					<a href="#"><p>联系我们</p></a>
					<a href="http://www.sportx-park.com/media/download/sportx.apk" target="_blank"><p>应用下载</p></a>
				</div>

				<div class="foot-r">
					<div class="foot-img"><img src="{% static 'SportXPark/images/qr.png' %}"></div>
					<p>扫一扫 下载</p>
				</div>

			</div>
			<p class="foot-h">©京ICP备16023606号</p>

		</div>

		<!-- 二维码 -->
{#		<div class="code-box">这是二维码</div>#}
	
	</div>


	<script>
		// 获取可视区的高度
		var dHeight = document.documentElement.clientHeight;
		var hH = dHeight/3*2;
		// $("div.head-box").css("height",hH);

		var hT = hH+22;
		$("div.code-box").css("top","66.6vh");

		// 二维码
{#		$(function (){#}
{#			var oDiv1=$('div.code-box');#}
{#			#}
{#			var h=oDiv1.offset().top;#}
{#			#}
{#			$(window).scroll(function (){#}
{#				var scrollTop=document.documentElement.scrollTop || document.body.scrollTop;#}
{#				#}
{#				if (scrollTop >= h)#}
{#				{#}
{#					oDiv1.css('position', 'fixed');#}
{#					oDiv1.css('top','0');#}
{#				}#}
{#				else#}
{#				{#}
{#					oDiv1.css('position', 'absolute');#}
{#					oDiv1.css('top','66.6vh');#}
{#				}#}
{#			});#}
{#		});#}

		// // 改变是否居中
		// var dW = document.documentElement.clientWidth;
		// if (dW < 1762) {
		// 	$("div.brief-box").css("margin","20px 0");
		// 	$("div.foot-box").css("margin","0 0 20px 0");
		// }
		// else{
		// 	$("div.brief-box").css("margin","20px auto");
		// 	$("div.foot-box").css("margin","0 auto 20px");
		// }
		</script>
	<script>
		// 头部选项卡
		$(function() {

			_tab($("ol.head-ol li"),$("ul.head-ul li"));

		    function _tab(obj,name){
		    	obj.on('click',function(){
		            obj.eq($(this).index()).addClass("on").siblings().removeClass('on');
		            name.hide().eq($(this).index()).show();
		        });
		    }
		 });
	</script>
	<script>
		// 图片判断

	</script>
</body>
</html>